<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Logs</title>
<style type="text/css">
<!--
body { background-color: #fafafa; color: #999999; font-family: Open Sans; margin:0px; padding:0px; }
.header { width:1024px; text-align:center; font-size:40px; font-family:"Open Sans"; color:#fff; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); margin:0 auto; background-color:#0854A3; padding:10px 0; }
.page_wrapper { width:1024px; margin:0 auto; }
.body { margin-top:20px; float:left; width:1004px; padding:10px; background-color:#fff; border-radius: 10px 10px 10px 10px; color:#515151; font-family:"Open Sans"; font-size:12px; word-wrap:break-word; }
.body a{ color:#515151; text-decoration:none;}
.body a:hover{ color:#0854A3; text-decoration:underline;}

-->
</style>
</head>
<body>
<div class="header">Logs</div>
<div class="page_wrapper">
<div class="body">
<%= yield %>
</div>
</div>
</body>
</html>
